// Place all the styles related to the Flats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.grey-background {
  background-color: rgba(230,230,230,1);
}

.margin-top {
  margin-top: 10px;
}

.overlay {
  z-index: 2;
  margin-top: -30px;
}

.background-slider {
  width: 100%;
  height: 330px;
  background: url("https://picsum.photos/1600/900/?random");
  background-style: cover;
}

.bold {
  font-weight: bolder;
  text-decoration: none;
}

.yellow {
  color: orange;
}

.red {
  color: red
}
