// Place all the styles related to the Flats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.grey-background {
  background-color: rgba(230,230,230,1);
}

.margin-top {
  margin-top: 10px;
}

.top-10 {
  top: 200px;
}
